<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div id="bg"><img src="../static/assets/bg.webp" alt=""></div>
        <div id="container-body">
            <div id="personal-info">
                <div id="portrait"><img src="/static/image.jpg" alt="portrait" id="portrait"></div>
                <div id="name"><h2><strong>Dartagnan Sams</strong></h2></div>
                <div id="personal-info-section">
                    <div id="title">CS Graduate @ GSU</div>
                    <div id="about-me">
                        Hello everyone my name is Dartagnan and I am a game developer located in Augusta, GA, I graduated form Georgia Southern university in December 2024.
                    </div>
                    <br>
                    <p>Links</p>
                    <div id="links">
                        <ul class="center">
                            <li><a href="https://www.linkedin.com/in/dartsams/" target="_blank"><img src="../static/linkedin-icon.svg" alt="LinkedIn" id="social-img"></a></li>
                            <li><a href="https://github.com/DartSams" target="_blank"><img src="../static/github-icon-1.svg" alt="Github"id="social-img"></a></li>
                        </ul>
                    </div>
                </div>
                <br>
                <div id="personal-info-section">
                    <p>Work Experience</p>
                    <div id="work-experience">
                        <ul class="column">
                            <li>
                                <h4 id="position-title"><strong>Tech Fellow</strong></h4>
                                <p id="position-company">CodePath | Aug 2023 - Present</p>
                            </li>
                            <li>
                                <h4 id="position-title"><strong>Game Level Designer</strong></h4>
                                <p id="position-company">PEMDAS Productions | Jan 2024 - May 2024</p>
                            </li>
                            <li>
                                <h4 id="position-title"><strong>Full Stack Intern</strong></h4>
                                <p id="position-company">Southern Automation Logistics & Technology | Aug 2023 - Dec 2023</p>
                            </li>
                            <li><button><a href="./resume.html">View Full Resume ></a></button></li>
                        </ul>
                    </div>
                </div>
                
            </div>

            <div id="projects">
                <ul>
                    <li><a href=""><video src="../static/assets/clip.mp4" controls></video></a></li>
                    <li><a href=""><img src="../static/assets/trace-track.png" alt=""></a></li>
                    <li><a href=""><video src="../static/assets/clip.mp4" controls></video></a></li>

                </ul>
            </div>
        </div>
    </div>
</body>
</html>